body{
    background-color: rgb(228, 228, 228);
    margin: 200px;
   
}
.count-container{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: row;
    background-color: yellow;
    gap: 50px;
    box-shadow: 0 4px 3px rgba(180, 10, 10, 0.9);

}
button{
    width: 40px;
    height: 40px;
    margin: 20px;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 3px 4px 4px rgba(234, 199, 0, 0.5);
    color: black;
    cursor: pointer;
  
}
button:hover{
    background-color: aqua;
}
#count{

    text-align: center;
   
    text-shadow: 2px 2px 5px rgb(228, 213, 187);
}
p{
 font-size: 20px;
}