body{
    background-color: azure;
    margin: 200px;
    border: 2px solid rgba(255, 255, 255, 0.055);
}
.notes-container{
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 30px;
    background: linear-gradient(to left ,rgb(45, 31, 172),rgb(255, 255, 255));
    transition: 2s   ;
}
table{
    background-color: rgb(0, 255, 0);
    padding: 5px;
}
td{
    color: violet;
    background-color: yellow;
}
textarea{
    padding: 50px 50px;
    height: 100px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 60px;
}
textarea:hover{
    border-color: darkorange ;
} 
label,select{
    padding: 10px;
    width: 150px;
    height: 40px;
}
#topic{
    cursor: pointer;
    padding: 5px;
}
#note-add{
   height: 35px;
   width: 40px;
   border-color:white ;
   background: deepskyblue;
   box-shadow: 0 2px 3px 4px rgba(206, 203, 218, 0.055);
   border-radius: 20%;
   cursor: pointer;
}
 


.bi,#done {
    font-size: 18px;
    cursor: pointer;
}

.bi-eye{
    background-color: white;
    color: black;
}
.bi-trash{
    background-color: red;
    border-color: black;
}
