.flip-card {
  width: 200px;
  height: 200px;
  perspective: 1000px;
  margin: auto;
}
.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;.
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-inner {
  transform: rotateY( 180deg);
}
.flip-front, .flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
}
.flip-front {
  background: #ffc3a0;
}
.flip-back {
  background: #a0d8ef;
  transform: rotateY(180deg);
}

