.body{
font-family: 'Roboto', sans-serif;
  font-style: italic;
  background-color: #f4f4f4;
text-align: center;

}.contact-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  gap: 15px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background: #0056b3;
}
.profile-img{
  text-align: center;
  width: 100px;
  border-radius: 50%;
}
 h3{

background-color:lightgrey;
text-align: center;
border-radius: 17%;
padding :-10px;padding-left :40px;
}
.container,.card{
margin :auto;
box-shadow :0 4px 6px rgba(0,0,80,0.4);
background-color:white ;
padding:20px;
max-width: 400px;
max-height :400px;

}
.fas .fa-brain{
background -border:red;
}
.animated-class
{
font-size: 20px;
      text-align: center;
      margin-bottom : 6px;
animation: blinkColor 15s infinite;
      color: #ff4b5c;
      text-shadow: 0 0 10px #fe6b5c, 0 0 20px #ff6f91;

}    @keyframes blinkColor {
      0%   { color: #fe6b5c; text-shadow: 0 0 5px ##f6f91;}
      25%  { color: #ff6f91; text-shadow: 0 0 10px #ff6f91; }
      50%  { color: #6a82fb; text-shadow: 0 0 15px #6a82fb; }
      75%  { color: #00c9a7; text-shadow: 0 0 20px #00c9a7; }
      100% { color: #ff4b5c; text-shadow: 0 0 5px #ff4b5c; }
    }
.typewrite-class{
font-family: monospace;
      white-space: nowrap;
      overflow: hidden;
      border-right: 2px solid black;
      width: 0;
      animation: typing 4s steps(40, end) forwards, blink 0.7s step-end infinite;
      font-size: 22px;
      color: #007BFF;
      margin: 2px auto;
      text-align: center;
      max-width: fit-content;
}
@keyframes typing{
from{width:0 }
to{width:100%}
}
.btn
{
background-color:#ef4bc6;
color:#000;
padding:-20px
    
width:70px;
  font-weight: bold;
  transition: background-color 0.3s ease;
box-shadow:0 4px 8px rgba(0,0,70,0.5);
border-radius:40% 40%;
text-decoration :none; 

overflow :hidden;
padding-top:30px
}
.btn:hover
{
transform :scale(1.1);
}

.hobby-section {
  display: flex;
  justify-content: center;
  gap:45px;
  flex-wrap: wrap;
  margin-top : -3px;
}

.hobby {
  background-color: #fdfdfd;
  border-radius: 2px;
 
  width: 70px;
height :70px;
  box-shadow: 0 2px 10px rgba(0,0,20,0.1);
  transition: transform 0.3s ease;
  text-align: center;
  font-weight: bold;
  color: #4a00e0;
}

.hobby i {
  font-size: 2px;
  margin-bottom: 8px;
}

.hobby:hover {
  transform: scale(1.2);
}

.fas.fa-envelope{
background-color: white;
  border: 1px solid white ;
  border-radius: 6px;
  padding: 5px;
  color:  red;

}





