body{
padding-top :100px;background-color:#ddec45;
item-alignment:center; 
}

#app{
box-shadow:0 3px 4px rgba(0,1,66,5.9);
background-color:#fced36;
max-width:400px;
padding-left :100px;
}
 #notification {
      margin-top: 10px;
      padding: 10px;
      border: 1px solid green;
      background-color: #e0ffe0;
      color: green;
      border-radius: 5px;
      transition: opacity 0.5s ease-in-out;
      opacity: 1;
    }

    .fade-out {
      opacity: 0;
    }