body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 30px;
}

img {
  margin: 20px;
  border: 3px solid #333;
  
}

/* Normal image */
.normal {
  filter: grayscale(0%);
}

/* Black & White image */
.bw {
  filter: grayscale(100%);
}

/* Hover effect */
img:hover {
  filter: grayscale(0%);
}

