body{
    background-color: aliceblue;
    margin: 200px;
}
#todoList{
 background-color: bisque;
 box-shadow: 0 2px 3px 4px rgba(105,85,205,0.775);
}
#addBtn{
  cursor: pointer;
  background-color: rgb(250, 180, 1);
  padding: 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 2px 3px 4px rgba(160, 113, 4, 0.8);
}