.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}
#app {
  text-align: center;
   background-color: #f3f3f3;
  font-family: Arial, sans-serif;
}
button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}
#dataContainer {
  margin-top: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3498db;
}