body {
    font-family: poppins, sans-serif;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card {
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

.btn-details {
    background-color: #ff5722;
    color: white;
}
